<br><br>
<p class= "p-custom">
    En esta sección, te presento algunos de los proyectos web más destacados en los que he trabajado. Cada uno de estos proyectos está desarrollado con tecnologías de vanguardia, centrado en la experiencia de usuario y en la funcionalidad eficiente. Mi enfoque en el desarrollo web se basa en la creación de sitios y aplicaciones robustas, adaptables a múltiples dispositivos y con un rendimiento optimizado.
</p><br>
<div class="row g-3">    
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card card-custom" style="width: 100%;">
            <%= image_tag "olivia_rios.png", class: "card-img-custom" %>
            <div class="card-body">
                <h5 class="card-title card-title-custom">Olivia Rios</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary btn-custom">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card card-custom" style="width: 100%;">
            <%= image_tag "ricomida.png", class: "card-img-custom" %>
            <div class="card-body">
                <h5 class="card-title card-title-custom">Ricomida</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary btn-custom">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        <div class="card card-custom" style="width: 100%;">
            <%= image_tag "suricata.png", class: "card-img-custom" %>
            <div class="card-body">
                <h5 class="card-title card-title-custom">Suricata Project</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary btn-custom">Go somewhere</a>
            </div>
    </div>
</div>